# X Window System configuration information (only for graphical installation)
# xconfig  --startxonboot

# License agreement (only for graphical installation)
# eula --agreed

# Skip X config
skipx

# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Use text install
text

# Run the Setup Agent on first boot
firstboot --enable

# Enable more hardware support
unsupported_hardware

# System services
services --enabled=chronyd

# Disable selinux
selinux --disabled

# Groups
group --name=adm
group --name=systemd-journal

# Keyboard layouts
keyboard --vckeymap=es-winkeys --xlayouts='es (winkeys)','us'

# System language
lang en_US.UTF-8 --addsupport=es_ES.UTF-8

# Disks
ignoredisk --only-use=sda

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=centos7

#Root password
rootpw --lock

# System timezone
timezone Europe/Madrid --isUtc

# Users
# Howto generate crypted passwords: python -c 'import crypt,base64,os; print(crypt.crypt("password", "$6$" + base64.b64encode(os.urandom(6))))'
# Example create user
# user --groups=wheel,adm,systemd-journal --name=myuser --password=cryptedpassword --iscrypted --gecos="myuser"
user --groups=wheel,adm --name=packer --plaintext --password=packer

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition type
autopart --type=lvm

# Partition clearing information
clearpart --all
zerombr

# Reboot the system when the install is complete
reboot --eject


# If we need to generate one image without docs
# %packages --excludedocs
%packages
@^minimal
chrony
gettext
# unnecessary packages
-alsa-*
-*-firmware
-biosdevname
-btrfs-progs*
-centos-logos
-dracut-network
-dracut-config-rescue
-firewalld
-iprutils
-mariadb-libs
-microcode_ctl
-postfix
-plymouth
-python-firewall
%end

# Enable kdump
# %addon com_redhat_kdump --enable --reserve-mb='auto'
# Disable kdump
%addon com_redhat_kdump --disable
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end


%post --log=/root/ks-post.log

echo "INFO: Make amount of installed kernels to two"
sed -r -i -e 's/^(\s*installonly_limit=).*/\12/g' /etc/yum.conf

echo "INFO: Prevent install weak dependencies"
echo "install_weak_deps=False" >> /etc/yum.conf

echo "INFO: Install DNS network deltarpm and curl utils"
yum -y install --setopt=tsflags=nodocs net-tools bind-utils deltarpm curl
echo "INFO: Clean yum caches"
yum clean all
rm -rf /var/cache/yum

echo "INFO: Update all packages"
yum -y update --setopt=tsflags=nodocs
echo "INFO: Clean yum caches"
yum clean all
rm -rf /var/cache/yum

echo "INFO: Get short Python default version"
PYTHON_SHORT_VERSION="$(python --version 2>&1 | sed -r 's/^.+ |\.[0-9]+$//g')"

echo "INFO: Enable and restart chronyd"
systemctl enable chronyd.service
systemctl restart chronyd.service

echo "INFO: Set selinux to disabled"
sed -i 's/^SELINUX=.*$/SELINUX=disabled/g' /etc/selinux/config
setenforce 0

echo "INFO: Disable firewalld"
# Removed package in anaconda-ks
rpm --quiet -q firewalld && systemctl stop firewalld
rpm --quiet -q firewalld && systemctl disable firewalld
systemctl mask firewalld

echo "INFO: Install EPEL repository"
yum -y install --setopt=tsflags=nodocs epel-release
yum -y update --setopt=tsflags=nodocs epel-release
echo "INFO: Clean yum caches"
yum clean all
rm -rf /var/cache/yum

echo "INFO: Install yum plugins"
yum -y install --setopt=tsflags=nodocs yum-plugin-remove-with-leaves yum-plugin-ovl yum-utils
echo "INFO: Clean yum caches"
yum clean all
rm -rf /var/cache/yum

echo "INFO: Install OpenStack cloud packages"
yum -y install --setopt=tsflags=nodocs cloud-init cloud-utils-growpart acpid
echo "INFO: Clean yum caches"
yum clean all
rm -rf /var/cache/yum

echo "INFO: Install utility packages"
yum -y install --setopt=tsflags=nodocs virt-what jq time strace tcpdump traceroute nmap nmap-ncat util-linux avahi avahi-autoipd avahi-tools

echo "INFO: Disable cloud-init"
touch /etc/cloud/cloud-init.disabled

echo "INFO: Remove cloud-init default domainname localdomain"
sed -i -e 's/localdomain//g' /usr/lib/python${PYTHON_SHORT_VERSION}/site-packages/cloudinit/sources/__init__.py
rm -f /usr/lib/python${PYTHON_SHORT_VERSION}/site-packages/cloudinit/sources/__init__.py[co]

echo "INFO: Configure cloud-init. Add in cloud_init_modules section the module resolv-conf"
sed -r -i 's/^(\s+)- ssh/\1- ssh\n\1- resolv-conf/' /etc/cloud/cloud.cfg

echo "INFO: Apply workaround for duplicate swap entry https://bugzilla.redhat.com/show_bug.cgi?id=1542578"
echo "" >> /etc/cloud/cloud.cfg
echo "# Workaround for duplicate swap entry https://bugzilla.redhat.com/show_bug.cgi?id=1542578" >> /etc/cloud/cloud.cfg
echo "mounts:" >> /etc/cloud/cloud.cfg
echo "    - [ /dev/mapper/centos_centos-swap, null ]" >> /etc/cloud/cloud.cfg

echo "INFO: Enable and start acpid daemon"
systemctl enable acpid
systemctl start acpid

echo "INFO: Create interface eth0"
echo 'DEVICE=eth0
BOOTPROTO=dhcp
BOOTPROTOv6=dhcp
ONBOOT=yes
TYPE=Ethernet
USERCTL=yes
PEERDNS=yes
IPV6INIT=yes
PERSISTENT_DHCLIENT=1' > /etc/sysconfig/network-scripts/ifcfg-eth0

echo "INFO: Create interface eth1"
echo 'DEVICE=eth1
BOOTPROTO=dhcp
BOOTPROTOv6=dhcp
ONBOOT=yes
TYPE=Ethernet
USERCTL=yes
PEERDNS=yes
IPV6INIT=yes
PERSISTENT_DHCLIENT=1' > /etc/sysconfig/network-scripts/ifcfg-eth1

echo "INFO: Create interface eth2"
echo 'DEVICE=eth2
BOOTPROTO=dhcp
BOOTPROTOv6=dhcp
ONBOOT=yes
TYPE=Ethernet
USERCTL=yes
PEERDNS=yes
IPV6INIT=yes
PERSISTENT_DHCLIENT=1' > /etc/sysconfig/network-scripts/ifcfg-eth2

echo "INFO: Create interface eth3"
echo 'DEVICE=eth3
BOOTPROTO=dhcp
BOOTPROTOv6=dhcp
ONBOOT=yes
TYPE=Ethernet
USERCTL=yes
PEERDNS=yes
IPV6INIT=yes
PERSISTENT_DHCLIENT=1' > /etc/sysconfig/network-scripts/ifcfg-eth3

echo "INFO: Create interface eth4"
echo 'DEVICE=eth4
BOOTPROTO=dhcp
BOOTPROTOv6=dhcp
ONBOOT=yes
TYPE=Ethernet
USERCTL=yes
PEERDNS=yes
IPV6INIT=yes
PERSISTENT_DHCLIENT=1' > /etc/sysconfig/network-scripts/ifcfg-eth4

echo "INFO: Create interface eth5"
echo 'DEVICE=eth5
BOOTPROTO=dhcp
BOOTPROTOv6=dhcp
ONBOOT=yes
TYPE=Ethernet
USERCTL=yes
PEERDNS=yes
IPV6INIT=yes
PERSISTENT_DHCLIENT=1' > /etc/sysconfig/network-scripts/ifcfg-eth5

echo "INFO: Remove other existing net interfaces"
rm -f /etc/sysconfig/network-scripts/{ifcfg-enp0s3,ifcfg-enp0s8,ifcfg-enp0s9}

echo "INFO: Configure correctly the network"
echo 'NETWORKING=yes
NOZEROCONF=yes' > /etc/sysconfig/network

echo "INFO: Remove persistent net rules"
ln -s /dev/null /etc/udev/rules.d/80-net-name-slot.rules
rm -f /etc/udev/rules.d/70-persistent-ipoib.rules

echo "INFO: Reload and restart NetworkManager"
systemctl reload NetworkManager
systemctl restart NetworkManager

# echo "INFO: Set locale keymap es-winkeys,us"
# echo 'KEYMAP=es-winkeys,us
# FONT=latarcyrheb-sun16
# ' > /etc/vconsole.conf
# echo 'LANG="en_US.UTF-8"
# ' > /etc/locale.conf
# localectl set-keymap es-winkeys,us
# localectl set-x11-keymap es-winkeys,us pc105
# localectl status

# echo "INFO: Set correctly the timezone with tzselect"
# continent or ocean 8) Europe
# country 43) Spain
# time zone regions 1) Spain (mainland)
# Is the above information OK? 1) Yes
# echo -e "8\n43\n1\n1\n" | tzselect
# BUG we cannot set timezones by ubication because change the local time incorrectly
# continent or ocean 11) none
# Please enter the desired value of the TZ environment variable GST+1
# Is the above information OK? 1) Yes
# echo -e "11\nGST+1\n1\n" | tzselect

# echo "INFO: Fix for timezone issues"
# rm -f /etc/adjtime
# hwclock --systohc

echo "INFO: Configure correctly grub2"
echo 'GRUB_TIMEOUT=1
GRUB_DISTRIBUTOR="$(sed '\''s, release .*$,,g'\'' /etc/system-release)"
GRUB_DEFAULT=saved
GRUB_DISABLE_RECOVERY=true
GRUB_DISABLE_SUBMENU=true
GRUB_TERMINAL="console serial"
GRUB_SERIAL_COMMAND="serial --speed=115200 --unit=0 --word=8 --parity=no --stop=1"
GRUB_CMDLINE_LINUX="crashkernel=auto console=tty0 console=ttyS0,115200n8 vconsole.keymap=es net.ifnames=0 biosdevname=0 nofb nomodeset vga=791"
' > /etc/default/grub

echo "INFO: Save grub2 changes"
grub2-mkconfig -o /boot/grub2/grub.cfg

%end

