# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

## Java :

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Specific folders
images/
isos/
qemuinstaller/
# for each Operating System build then replicate it
CentOS7Minimal/logs/
CentOS7Minimal/output-virtualbox-iso/
CentOS7Minimal/.packer.d/
CentOS7Minimal/.packerconfig
CentOS7Minimal/packer_cache/
CentOS7Minimal/packer-software/
CentOS8Minimal/logs/
CentOS8Minimal/output-virtualbox-iso/
CentOS8Minimal/.packer.d/
CentOS8Minimal/.packerconfig
CentOS8Minimal/packer_cache/
CentOS8Minimal/packer-software/

