[Unit]
Description=Manage virtual machine tools for OpenStack or VMware or VirtualBox
DefaultDependencies=no
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/guestvmtools.sh
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target

