[Unit]
Description=Control cloud-init to enable in OpenStack or KVM or AWS and mask in VMware or VirtualBox or other virtualization systems
DefaultDependencies=no
After=systemd-remount-fs.service
Before=cloud-init-local.service
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/controlcloud-init.sh
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target

